---
import { Image } from "astro:assets";
import manVR from "../../assets/man-vr.svg";
import topRightCylinder from "../../assets/top-right-cylinder.svg";
import bottomRightCylinder from "../../assets/bottom-right-cylinder.svg";
import bottomLeftCircle from "../../assets/bottom-left-circle.svg";
import TextInput from "../TextInput.astro";
import TextArea from "../TextArea.astro";
import { Fragment } from "astro/dist/runtime/server";
import Button from "../Button.astro";
---


<section class="py-40">
		   <!-- max-w-screen-xl mx-auto px-14 sm:px-32 lg:px-14 grid grid-cols-1 lg:grid-cols-2 items-center gap-40 -->
    <div class="max-w-screen-xl mx-auto px-14 sm:px-14 lg:gap-16 grid grid-cols-1 lg:grid-cols-2 items-center gap-8">
        
		<div class="mt-4 md:mt-0 order-2 lg:order-none">
			<h2
				class="text-start lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-6"
			>
				Together, Let's Make a Difference!
			</h2>

			<form action="" class="mt-6 flex flex-col space-y-4" id="contact-form">
				<TextInput
					label="Email:"
					type="email"
					name="email"
					placeholder="Email"
					required
				/>
				<TextInput
					label="Subject:"
					type="text"
					name="subject"
					placeholder="Subject"
					required
				/>
				<TextArea
					label="Message:"
					rows="5"
					name="message"
					placeholder="Message"
					required
				/>
				<Button asLink={false} class="flex text-base font-medium " type="submit">Submit</Button>
			</form>		
        </div>

		<div class="relative order-1 lg:order-none">
			<Image
				src={manVR}
				alt="Man with VR headset"
				class="w-100 h-auto motion-safe:animate-[floating_2s_ease-in-out_infinite]"
			/>

			<Image
				src={topRightCylinder}
				alt="Man with VR headset"
				class="absolute top-0 right-0 w-[20%] h-auto motion-safe:animate-[floating_3s_ease-in-out_infinite] delay-100"
			/>

			<Image
				src={bottomRightCylinder}
				alt="Man with VR headset"
				class="absolute bottom-0 right-[10%] w-[30%] h-auto motion-safe:animate-[floating_4s_ease-in-out_infinite] delay-150"
			/>

			<Image
				src={bottomLeftCircle}
				alt="Man with VR headset"
				class="absolute bottom-[10%] left-0 w-[30%] h-auto motion-safe:animate-[floating_5s_ease-in-out_infinite] delay-75"
			/>	
		</div>

    </div>
</section>

<!-- <section class="py-40">
	<div
		class="max-w-screen-xl mx-auto px-14 sm:px-32 lg:px-14 grid grid-cols-1 lg:grid-cols-2 items-center gap-40"
	>
		<div class="order-2 lg:order-none">
			<h2
				class="text-center lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-6"
			>
				Together, Let's Make a Difference!
			</h2>
			<form action="" class="mt-6 flex flex-col space-y-4" id="contact-form">
				<TextInput
					label="Email"
					type="email"
					name="email"
					placeholder="Email"
					required
				/>
				<TextInput
					label="Subject"
					type="text"
					name="subject"
					placeholder="Subject"
					required
				/>
				<TextArea
					label="Message"
					rows="5"
					name="message"
					placeholder="Message"
					required
				/>
				<Button asLink={false} type="submit">Submit</Button>
			</form>
		</div>

		<div class="relative order-1 lg:order-none">
			<Image
				src={manVR}
				alt="Man with VR headset"
				class="w-100 h-auto animate-[floating_2s_ease-in-out_infinite]"
			/>

			<Image
				src={topRightCylinder}
				alt="Man with VR headset"
				class="absolute top-0 right-0 w-[20%] h-auto animate-[floating_3s_ease-in-out_infinite] delay-100"
			/>

			<Image
				src={bottomRightCylinder}
				alt="Man with VR headset"
				class="absolute bottom-0 right-[10%] w-[30%] h-auto animate-[floating_4s_ease-in-out_infinite] delay-150"
			/>

			<Image
				src={bottomLeftCircle}
				alt="Man with VR headset"
				class="absolute bottom-[10%] left-0 w-[30%] h-auto animate-[floating_5s_ease-in-out_infinite] delay-75"
			/>
		</div>
	</div>
</section> -->

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script type="text/javascript">
	const public_key = import.meta.env.EMAILJS_PUBLIC_KEY;
	(function() {
		emailjs.init(public_key);
	})();
</script>
<script type="text/javascript">
	const contactForm = document.getElementById('contact-form')
	const service_id = import.meta.env.EMAILJS_SERVICE_ID;
	const template_id = import.meta.env.EMAILJS_TEMPLATE_ID;

	window.onload = function() {
		contactForm.addEventListener('submit', function(event) {
			event.preventDefault();

			emailjs.sendForm(service_id, template_id, this)
				.then(function() {
					contactForm.reset();
					console.log('Email Sent Succesfully!');
				}, function(error) {
					console.log('Failed: ', error);
				});
		});
	}
</script>
