---
import { Image } from "astro:assets";
import Logo from "../../assets/gdsclogo.svg";
import manVR from "../../assets/man-vr.svg";
import topRightCylinder from "../../assets/top-right-cylinder.svg";
import bottomRightCylinder from "../../assets/bottom-right-cylinder.svg";
import bottomLeftCircle from "../../assets/bottom-left-circle.svg";
import TextInput from "../TextInput.astro";
import TextArea from "../TextArea.astro";
import { Fragment } from "astro/dist/runtime/server";
import Button from "../Button.astro";
---

<section class="py-40">
	<div
		class="max-w-7xl mx-auto px-14 sm:px-32 lg:px-14 grid grid-cols-1 lg:grid-cols-2 items-center gap-40"
	>
		<div>
			<h2
				class="text-center lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-6"
			>
				Empower Together, Spark Change! Let's Join Forces to Elevate
				Communities!
			</h2>
			<form action="" class="mt-6 flex flex-col space-y-4" id="contact-form">
				<TextInput label="Email" type="email" name="email" required />
				<TextInput label="Subject" type="text" name="subject" required />
				<TextArea label="Message" rows="5" required name="message" />
				<Button asLink={false} type="submit">Submit</Button>
			</form>
		</div>

		<div class="relative hidden lg:block">
			<Image
				src={manVR}
				alt="Man with VR headset"
				class="w-100 h-auto animate-[floating_2s_ease-in-out_infinite]"
			/>

			<Image
				src={topRightCylinder}
				alt="Man with VR headset"
				class="absolute top-0 right-0 w-[25%] h-auto animate-[floating_3s_ease-in-out_infinite] delay-100"
			/>

			<Image
				src={bottomRightCylinder}
				alt="Man with VR headset"
				class="absolute bottom-0 right-[10%] w-[30%] h-auto animate-[floating_4s_ease-in-out_infinite] delay-150"
			/>

			<Image
				src={bottomLeftCircle}
				alt="Man with VR headset"
				class="absolute bottom-0 left-0 w-[30%] h-auto animate-[floating_5s_ease-in-out_infinite] delay-75"
			/>
		</div>
	</div>
</section>
