---
import { Image } from "astro:assets";
import DataCamp from "../../assets/landing/partners/logo_datacamp.png";
import Zuitt from "../../assets/landing/partners/logo_zuitt.png";
import PocketDevs from "../../assets/landing//partners/logo_pocketdevs.webp";
import FWDP from "../../assets/landing//partners/logo_fwdp.png";
// import Devcon from "../../assets/landing//partners/logo_devcon.png";

import ACSS from "../../assets/landing//partners/logo_acss.png";
import COESS from "../../assets/landing//partners/logo_coess.png";
import ENSC from "../../assets/landing//partners/logo_ensc.png";
import LITS from "../../assets/landing//partners/logo_lits.png";
import ACES from "../../assets/landing//partners/logo_aces.png";
import MLSA from "../../assets/landing//partners/logo_mlsa.png";

import Amasing from "../../assets/landing//partners/logo_amasing.jpg";
import Bewitched from "../../assets/landing//partners/logo_bewitched.jpg";
import Klik from "../../assets/landing//partners/logo_klik.png";
---

<section class="bg-white dark:bg-gray-900" id="home-partners">
  <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-8">
    <h2
      class="sm:text-start text-3xl text-gray-600 lg:text-center mb-6 leading-none dark:text-gray-400">
      Brought to you by
    </h2>

    <h1
      class="sm:text-start lg:text-center font-bold text-3xl sm:text-4xl leading-none mb-6 dark:text-white">
      Partners and Sponsors
    </h1>

    <p
      class="sm:text-start text-gray-700 lg:text-center dark:text-gray-400 mb-6">
      The organization is also supported by an amazing network of partners and
      sponsors.
    </p>
    <div
      class="grid grid-cols-2 gap-4 px-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-5 dark:text-gray-400">
      <a
        href="https://www.datacamp.com/"
        class="mr-5 mb-5 lg:mb-0 flex justify-center items-center hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={DataCamp}
          alt="DataCamp"
          loading="lazy"
          class="w-auto h-auto drop-shadow-lg transition-all duration-300 cursor-pointer filter hover:scale-110 dark:invert"
        />
      </a>

      <a
        href="https://www.pocketdevs.ph/"
        class="mr-5 mb-5 lg:mb-0 flex justify-center items-center hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={PocketDevs}
          alt="Computer Engineering Students Society"
          loading="lazy"
          class="w-auto h-auto rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110 dark:backdrop-grayscale-none"
        />
      </a>

      <a
        href="https://zuitt.co/"
        class="mr-5 mb-5 lg:mb-0 flex justify-center items-center hover:text-gray-800 dark:hover:text-gray-400 dark:invert">
        <Image
          src={Zuitt}
          alt="Zuitt"
          loading="lazy"
          class="w-auto h-12 drop-shadow-lg transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <a
        href="https://www.facebook.com/fwdpeers"
        class="mr-5 mb-5 lg:mb-0 flex justify-center items-center hover:text-gray-800 dark:hover:text-gray-400 dark:invert">
        <Image
          src={FWDP}
          alt="FWDP"
          loading="lazy"
          class="w-auto h-14 drop-shadow-lg transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <!-- Student Organization -->
      <a
        href="https://facebook.com/UECENSC"
        class="mr-5 mb-5 lg:mb-0 flex justify-center hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={ENSC}
          alt="Office of the UE-Caloocan Engineering Student Council "
          loading="lazy"
          class="w-auto h-24 rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <a
        href="https://www.facebook.com/UEACSS/"
        class="mr-5 mb-5 lg:mb-0 flex justify-center hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={ACSS}
          alt="Association of Computer Studies Students"
          loading="lazy"
          class="w-auto h-24 drop-shadow-md rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <a
        href="https://facebook.com/COESSofficial.ue"
        class="mr-5 mb-5 lg:mb-0 flex justify-center hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={COESS}
          alt="Computer Engineering Students Society"
          loading="lazy"
          class="w-auto h-24 rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <a
        href="https://facebook.com/UE.LITS"
        class="mr-5 mb-5 lg:mb-0 flex justify-center hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={LITS}
          alt="League of Information Technology Students"
          loading="lazy"
          class="w-auto h-24 drop-shadow-lg rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <a
        href="https://www.facebook.com/ueaces.official"
        class="mr-5 mb-5 lg:mb-0 flex justify-center hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={ACES}
          alt="Association of Civil Engineering Students"
          loading="lazy"
          class="w-auto h-24 drop-shadow-lg rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <a
        href="https://mvp.microsoft.com/en-US/studentambassadors/profile/28a01c67-e3fd-4801-b003-b0891e100a3a"
        class="mr-5 mb-5 lg:mb-0 flex justify-center hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={MLSA}
          alt="League of Information Technology Students"
          loading="lazy"
          class="w-auto h-24 rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>
      <!-- Company / Businesses -->
      <a
        href="https://facebook.com/amasingbeautysalon"
        class="mr-5 mb-5 lg:mb-0 flex justify-center hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={Amasing}
          alt="Amasing Beauty Salon & Spa"
          loading="lazy"
          class="w-auto h-24 rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <a
        href="https://facebook.com/klikmediagroup"
        class="mr-5 mb-5 lg:mb-0 flex justify-center hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={Klik}
          alt="KLIK Media Group"
          class="w-auto h-24 shadow-xl rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>
      <a
        href="https://facebook.com/bewitched.stitchess"
        class="mr-5 mb-5 lg:mb-0 flex justify-center hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={Bewitched}
          alt="Bewitched Stitches"
          class="w-auto h-24 rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>
    </div>
  </div>
</section>
