---
import { Image } from "astro:assets";
import DataCamp from "../../assets/landing/partners/logo_datacamp.png";
import DataCampDark from "../../assets/landing/partners/logo_datacamp-dark.png";
import PocketDevs from "../../assets/landing//partners/logo_pocketdevs.webp";
import YFSPH from "../../assets/landing//partners/logo_yfsph.png";
import Devcon from "../../assets/landing//partners/logo_devcon.png";

import ACSS from "../../assets/landing//partners/logo_acss.png";
import COESS from "../../assets/landing//partners/logo_coess.png";
import ENSC from "../../assets/landing//partners/logo_ensc.png";
import LITS from "../../assets/landing//partners/logo_lits.png";
import ACES from "../../assets/landing//partners/logo_aces.png";
import MLSA from "../../assets/landing//partners/logo_mlsa.png";

import Amasing from "../../assets/landing//partners/logo_amasing.jpg";
import Bewitched from "../../assets/landing//partners/logo_bewitched.jpg";
import Klik from "../../assets/landing//partners/logo_klik.png";
---

<section class="py-12 bg-white dark:bg-gray-900" id="home-partners">
  <div
    class="px-4 mx-auto text-center md:max-w-screen-sm lg:max-w-screen-xl lg:px-36">
    <h2 class="text-3xl text-gray-600 mb-6 leading-none dark:text-gray-400">
      Brought to you by
    </h2>

    <h1
      class="text-center lg:text-center font-bold text-3xl sm:text-4xl leading-none mb-6 dark:text-white">
      Partners and Sponsors
    </h1>

    <span class="text-gray-700 dark:text-gray-400">
      The organization is also supported by an amazing network of partners and
      sponsors.
    </span>

    <!-- Longadog Company Text -->
    <div
      class="flex flex-wrap justify-center items-center mt-16 text-gray-500 sm:justify-between">
      <a
        href="https://www.datacamp.com/"
        class="mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={DataCamp}
          alt="DataCamp"
          class="w-auto h-12 drop-shadow-lg transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <a
        href="https://www.datacamp.com/"
        class="hidden mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
        <image
          class="w-auto h-12 drop-shadow-lg transition-all duration-300 cursor-pointer filter hover:scale-110 dark:bg-[url(../../assets/landing/partners/logo_datacamp-dark.png)]"
        />
      </a>

      <a
        href="https://www.pocketdevs.ph/"
        class="mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={PocketDevs}
          alt="Computer Engineering Students Society"
          class="w-auto h-12 rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110 dark:backdrop-grayscale-none"
        />
      </a>

      <a
        href="https://devcon.ph/"
        class="mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={Devcon}
          alt="Devcon Philippines"
          class="w-auto h-12 rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110 dark:backdrop-grayscale-none"
        />
      </a>
    </div>

    <!-- Recognized Student Organization(s) -->
    <div
      class="flex flex-wrap justify-center items-center mt-16 text-gray-500 sm:justify-between">
      <a
        href="https://facebook.com/UECENSC"
        class="mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={ENSC}
          alt="Office of the UE-Caloocan Engineering Student Council "
          class="w-auto h-28 rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <a
        href="https://www.facebook.com/UEACSS/"
        class="mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={ACSS}
          alt="Association of Computer Studies Students"
          class="w-auto h-28 drop-shadow-md rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <a
        href="https://facebook.com/COESSofficial.ue"
        class="mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={COESS}
          alt="Computer Engineering Students Society"
          class="w-auto h-28 rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <a
        href="https://facebook.com/UE.LITS"
        class="mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={LITS}
          alt="League of Information Technology Students"
          class="w-auto h-28 drop-shadow-lg rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <a
        href="https://www.facebook.com/ueaces.official"
        class="mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={ACES}
          alt="Association of Civil Engineering Students"
          class="w-auto h-28 drop-shadow-lg rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <a
        href="https://mvp.microsoft.com/en-US/studentambassadors/profile/28a01c67-e3fd-4801-b003-b0891e100a3a"
        class="mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={MLSA}
          alt="League of Information Technology Students"
          class="w-auto h-32 rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>
    </div>

    <!-- Company/Business -->
    <div
      class="flex flex-wrap justify-center items-center mt-16 text-gray-500 sm:justify-between">
      <a
        href="https://facebook.com/amasingbeautysalon"
        class="mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={Amasing}
          alt="Amasing Beauty Salon & Spa"
          class="w-auto h-32 rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>

      <a
        href="https://facebook.com/klikmediagroup"
        class="mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={Klik}
          alt="KLIK Media Group"
          class="w-auto h-32 shadow-xl rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>
      <a
        href="https://facebook.com/bewitched.stitchess"
        class="mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
        <Image
          src={Bewitched}
          alt="Bewitched Stitches"
          class="w-auto h-32 rounded-md transition-all duration-300 cursor-pointer filter hover:scale-110"
        />
      </a>
    </div>
  </div>
</section>
