---
import { Image } from "astro:assets";
// Graphics Design Dept
import Balanay from "../../../assets/team/2023-2024/Balanay.jpg";
import Agustin from "../../../assets/team/2023-2024/Agustin.jpg";
import Delodado from "../../../assets/team/2023-2024/Delodado.jpg";
import Tabuga from "../../../assets/team/2023-2024/Tabuga.jpg";
// Documenations Dept
import DGarcia from "../../../assets/team/2023-2024/DGarcia.jpg";
import Crisostomo from "../../../assets/team/2023-2024/Crisostomo.jpg";
// Stage Relations Dept
import Pablo from "../../../assets/team/2023-2024/Pablo.jpg";
// AVP Dept
import Baltao from "../../../assets/team/2023-2024/Baltao.jpg";
---

<!-- Creatives Dept -->
<div class="mx-auto mb-8 max-w-screen-7xl lg:mb-16 px-8 pt-16">
    <h2
        class="mb-4 text-5xl tracking-tight font-extrabold text-start lg:text-center md:text-start text-gray-900 dark:text-white">
        Creatives Board
    </h2>
    <div class="max-w-screen-2xl mx-auto">
        <p
            class="font-light text-gray-500 sm:text-xl text-start lg:text-center md:text-start dark:text-gray-400">
            Plans and implements engaging marketing and communication
            strategies, enhancing the organization's brand presence and
            community.
        </p>
    </div>
</div>

<div
    class="grid gap-6 lg:gap-6 grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Balanay}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Angelique Balanay</p>
        </h3>
        <p>Graphics Design Lead</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Agustin}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Jahzeel Agustin</p>
        </h3>
        <p>Associate Graphics Design Lead</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Delodado}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Anniemony Delodado</p>
        </h3>
        <p>Associate Graphics Design Lead</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Tabuga}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Steffany Tabuga</p>
        </h3>
        <p>Associate Graphics Design Lead</p>
    </div>
    <!-- Documentations Dept -->
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={DGarcia}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Don Dominic Garcia</p>
        </h3>
        <p>Documentations Lead</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Crisostomo}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Genesis Crisostomo</p>
        </h3>
        <p>Associate Documentation Lead</p>
    </div>
    <!-- Stages Relations Lead -->
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Pablo}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Kervie Pablo</p>
        </h3>
        <p>Stages Relations Lead</p>
    </div>
    <!-- AVP Dept -->
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Baltao}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Carl Baltao</p>
        </h3>
        <p>Audio, Video, Presentation/AVP Lead</p>
    </div>
</div>
