---
import { Image } from "astro:assets";
import Abaya from "../../../assets/team/2023-2024/Abaya.jpg";
import Forfieda from "../../../assets/team/2023-2024/Forfieda.jpg";
import Mante from "../../../assets/team/2023-2024/Mante.jpg";
import Cadenas from "../../../assets/team/2023-2024/Cadenas.jpg";
import Chua from "../../../assets/team/2023-2024/Chua.jpg";
import Samboa from "../../../assets/team/2023-2024/Samboa.jpg";
---

<!-- Executive Board -->
<div
    class="mx-auto mb-8 max-w-screen-7xl lg:mb-16 px-8"
    id="executive-board-2023">
    <h2
        class="mb-4 text-5xl tracking-tight font-extrabold text-start lg:text-center md:text-start text-gray-900 dark:text-white">
        Executive Board
    </h2>
    <div class="max-w-screen-2xl mx-auto">
        <p
            class="font-light text-gray-500 sm:text-xl text-start lg:text-center md:text-start dark:text-gray-400">
            Oversees strategic direction and decision-making, ensuring
            organizational goals are met effectively and efficiently.
        </p>
    </div>
</div>

<div
    class="grid gap-6 lg:gap-6 grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Abaya}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Sheila Abaya</p>
        </h3>
        <p>Organization Adviser</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Forfieda}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Emmanuel Forfieda</p>
        </h3>
        <p>Chief Executive Officer</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Mante}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Cyrus Mante</p>
        </h3>
        <p>Chief Consultant Officer</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Cadenas}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Kurt Cadenas</p>
        </h3>
        <p>Chief Technology Officer</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Chua}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Stephanie Chua</p>
        </h3>
        <p>Chief Communications Officer</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Samboa}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Angela Samboa</p>
        </h3>
        <p>Chief Operations Officer</p>
    </div>
</div>
