---
import { Image } from "astro:assets";
// Data Science Dept
import DelPilar from "../../../assets/team/2023-2024/DelPilar.jpg";
import Duran from "../../../assets/team/2023-2024/Duran.jpg";
import Joshua from "../../../assets/team/2023-2024/Joshua.jpg";
// Web Development Dept
import Calacday from "../../../assets/team/2023-2024/Calacday.jpg";
import Reyes from "../../../assets/team/2023-2024/Reyes.jpg";
import Pangilinan from "../../../assets/team/2023-2024/Pangilinan.jpg";
// Mobile Development Dept
import Arganza from "../../../assets/team/2023-2024/Arganza.jpg";
import Bispo from "../../../assets/team/2023-2024/Bispo.jpg";
import Sim from "../../../assets/team/2023-2024/Sim.jpg";
// UI/UX Development Dept
import Aseoche from "../../../assets/team/2023-2024/Aseoche.jpg";
import Garcia from "../../../assets/team/2023-2024/Garcia.jpg";
import Tang from "../../../assets/team/2023-2024/Tang.jpg";
// Cloud Development Dept
import Cuevas from "../../../assets/team/2023-2024/Cuevas.jpg";
---

<!-- Technology Dept -->
<div
    class="mx-auto mb-8 max-w-screen-7xl lg:mb-16 px-8 pt-16"
    id="technology-dept-2023">
    <h2
        class="mb-4 text-5xl tracking-tight font-extrabold text-start lg:text-center md:text-start text-gray-900 dark:text-white">
        Technology Department
    </h2>
    <p
        class="font-light text-gray-500 sm:text-xl text-start lg:text-center md:text-start dark:text-gray-400">
        Empowers members through educational materials and workshops, fostering
        innovation and technical expertise within the community.
    </p>
</div>
<!-- Data Science Lead -->
<div
    class="grid gap-6 lg:gap-6 grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={DelPilar}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Aidan Del Pilar</p>
        </h3>
        <p>Data Science Lead</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Duran}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Aronn Duran</p>
        </h3>
        <p>Associate Data Science Lead</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Joshua}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Joshua Aus</p>
        </h3>
        <p>Associate Data Science Lead</p>
    </div>
    <!-- Web Development Dept -->
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Calacday}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Kurt Calacday</p>
        </h3>
        <p>Web Development Lead</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Reyes}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Deihl Reyes</p>
        </h3>
        <p>Associate Web Development Lead</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Pangilinan}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Red Pangilinan</p>
        </h3>
        <p>Associate Web Development Lead</p>
    </div>
    <!-- Mobile Development Dept -->
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Arganza}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Patrick Arganza</p>
        </h3>
        <p>Mobile Development Lead</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Bispo}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Denise Bispo</p>
        </h3>
        <p>Associate Mobile Development Lead</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Sim}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Christian Sim</p>
        </h3>
        <p>Associate Mobile Development Lead</p>
    </div>
    <!-- UI/UX Developement Dept -->
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Aseoche}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Anne Aseoche</p>
        </h3>
        <p>UI/UX Development Lead</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Garcia}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Justin Garcia</p>
        </h3>
        <p>Associate UI/UX Development Lead</p>
    </div>
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Tang}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Joshua Tang</p>
        </h3>
        <p>Associate UI/UX Development Lead</p>
    </div>
</div>

<div
    class="grid gap-6 lg:gap-6 grid-cols-2 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-1 pt-8">
    <!-- Cloud Development Dept -->
    <div class="text-center text-gray-500 dark:text-gray-400">
        <Image
            src={Cuevas}
            alt="Officer"
            loading="eager"
            class="mx-auto mb-4 w-36 h-36 rounded-2xl"
        />
        <h3
            class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <p>Adrian Cuevas</p>
        </h3>
        <p>Cloud Development Lead</p>
    </div>
</div>
