---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import FormattedDate from "../FormattedDate.astro";
import Button from "../Button.astro";
const posts = (await getCollection("events")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const featuredPost = posts[0];
---

<section class="py-24">
    <div class="flex flex-col mx-auto max-w-5xl p-8 justify-center items-center">
        <h1 class="text-3xl md:text-5xl text-center font-bold mb-16">Featured Events</h1>
            <div class="flex flex-col lg:flex-row justify-center border border-slate-400 shadow-md rounded-3xl h-full items-center p-8 gap-12 ">
                <Image
                    src={featuredPost.data.heroImage}
                    alt="Blue Pyramid Figure"
                    class="h-full w-80 rounded-3xl shadow-md object-cover object-center"
                />
                <div class="flex flex-col items-center md:items-start md:justify-center">
                    <h2 class="text-center lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-2">
                        {featuredPost.data.title}
                    </h2>
                    <p class="mt-1 text-lg text-center lg:text-left text-gray-500 mb-10 md:mb-12">
                        <FormattedDate date={featuredPost.data.pubDate} />
                    </p>
                    <Button asLink={true} href={`/events/${featuredPost.slug}/`}>See Details</Button>
                </div>
            </div>
    </div>
</section>