---
import { Image } from "astro:assets";
import One from "../../assets/about/1.jpg";
import Two from "../../assets/about/2.jpg";
import Three from "../../assets/about/3.jpg";
import Four from "../../assets/about/4.jpg";
import Five from "../../assets/about/5.jpg";
import Six from "../../assets/about/6.jpg";
---

<section class="pt-24" id="about-igmakadima">
	<div class="flex flex-col">
        <div class="flex flex-col justify-center items-center p-8">

            <h1 class="text-center lg:text-start font-bold text-4xl sm:text-4xl leading-none">
				To Grow and To 
                <h1 class="text-6xl mb-6 pb-2 text-center font-bold from-red-600 via-pink-blue to-violet-600 bg-gradient-to-r bg-clip-text text-transparent">
                    Igma Kadima
                </h1>
            </h1>        

            <div class="mx-auto max-w-2xl px-14 py-6 sm:px-6 sm:py-14 lg:max-w-7xl lg:px-14">
                <p class="text-lg md:text-3xl leading-relaxed mb-4">
                    Google Developer Student Clubs UE Caloocan is a student-led technology 
                    organization situated at the University of The East in Caloocan City. 
                    As a proud member of a global community, our mission is to empower diverse 
                    communities worldwide through the transformative power of technology.
                </p>
            </div>
            
        </div>
	</div>
</section>

<!-- Images -->

<div class="container mx-auto py-32 px-8 sm:px-24 max-w-7xl">
    <div class="-m-1 flex flex-wrap md:-m-2">
      <div class="flex w-1/2 flex-wrap">
        <div class="w-1/2 p-1 md:p-2">
            <Image
                src={One}
                alt="One"
                class="block h-full w-full rounded-lg object-cover object-center"
            /> 
        </div>
        <div class="w-1/2 p-1 md:p-2">
            <Image
                src={Two}
                alt="One"
                class="block h-full w-full rounded-lg object-cover object-center"
            /> 
        </div>
        <div class="w-full p-1 md:p-2">
            <Image
                src={Three}
                alt="One"
                class="block h-full w-full rounded-lg object-cover object-center"
            /> 
        </div>
      </div>
      <div class="flex w-1/2 flex-wrap">
        <div class="w-full p-1 md:p-2">
            <Image
                src={Four}
                alt="One"
                class="block h-full w-full rounded-lg object-cover object-center"
            /> 
        </div>
        <div class="w-1/2 p-1 md:p-2">
            <Image
                src={Five}
                alt="One"
                class="block h-full w-full rounded-lg object-cover object-center"
            /> 
        </div>
        <div class="w-1/2 p-1 md:p-2">
            <Image
                src={Six}
                alt="One"
                class="block h-full w-full rounded-lg object-cover object-center"
            /> 
        </div>
      </div>
    </div>
  </div>
