---
import { Image } from "astro:assets";
import One from "../../assets/about/1.jpg";
import Two from "../../assets/about/2.jpg";
import Three from "../../assets/about/3.jpg";
import Four from "../../assets/about/4.jpg";
import Five from "../../assets/about/5.jpg";
import Six from "../../assets/about/6.jpg";
---

<section class="pt-20 dark:bg-gray-900" id="about-igmakadima">
  <div class="flex flex-col">
    <div class="flex flex-col justify-center items-center p-8">
      <h1
        class="text-center lg:text-start font-bold text-4xl sm:text-4xl leading-none dark:text-white">
        To Grow and To
        <h1
          class="text-6xl mb-6 pb-2 text-center font-bold from-red-600 via-pink-blue to-violet-600 bg-gradient-to-r bg-clip-text text-transparent">
          Igma Kadima
        </h1>
      </h1>

      <div class="mx-auto max-w-2xl py-6 sm:px-6 sm:py-14 lg:max-w-7xl">
        <p
          class="lg:text-2xl md:text-2xl sm:text-2xl leading-relaxed mb-4 dark:text-gray-400">
          Google Developer Student Clubs UE Caloocan is a student-led technology
          organization situated at the University of The East in Caloocan City.
          As a proud member of a global community, our mission is to empower
          diverse communities worldwide through the transformative power of
          technology.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Images -->

<section class="pb-28 pt-12 dark:bg-gray-900" id="about-igmakadima">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl">
    <!-- Bento Box Image -->
    <div class="-m-1 flex flex-wrap md:-m-2">
      <div class="flex w-1/2 flex-wrap">
        <div class="w-1/2 p-1 md:p-2">
          <Image
            src={One}
            alt="One"
            class="block h-full w-full rounded-lg object-cover object-center"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <Image
            src={Two}
            alt="One"
            class="block h-full w-full rounded-lg object-cover object-center"
          />
        </div>
        <div class="w-full p-1 md:p-2">
          <Image
            src={Three}
            alt="One"
            class="block h-full w-full rounded-lg object-cover object-center"
          />
        </div>
      </div>
      <!-- Start Cutting Here -->
      <div class="flex w-1/2 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <Image
            src={Four}
            alt="One"
            class="block h-full w-full rounded-lg object-cover object-center"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <Image
            src={Five}
            alt="One"
            class="block h-full w-full rounded-lg object-cover object-center"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <Image
            src={Six}
            alt="One"
            class="block h-full w-full rounded-lg object-cover object-center"
          />
        </div>
      </div>
    </div>
  </div>
</section>
