---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import HeaderDark from "../components/HeaderDark.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"events">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<HeaderDark />
	<body class="font-sans">
		<main class="max-w-full mx-auto bg-white dark:bg-gray-900">
			<!-- New Article Design -->
			<div
				class="bg-white dark:bg-gray-900 max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 relative">
				<article class="py-24">
					<div class="w-full">
						{
							heroImage && (
								<Image
									class="brightness-50 w-full bg-cover text-center overflow-hidden object-cover rounded-xl shadow-xl"
									src={heroImage}
									alt=""
								/>
							)
						}
					</div>

					<div class="max-w-4xl mx-auto">
						<div
							class="mt-3 bg-white rounded-lg flex flex-col justify-between leading-normal">
							<div
								class="bg-white dark:bg-gray-900 rounded-lg shadow-2xl relative top-0 -mt-32 p-5 sm:p-10">
								<h1
									class="text-start font-bold text-3xl dark:text-gray-100 md:text-4xl leading-none mb-4">
									{title}
								</h1>
								<hr />
								<div
									class="mt-1 text-md md:text-lg text-start text-gray-500 mb-4 dark:text-gray-400">
									<FormattedDate date={pubDate} />
									{
										updatedDate && (
											<div class="italic">
												Last updated on{" "}
												<FormattedDate
													date={updatedDate}
												/>
											</div>
										)
									}
								</div>
								<div class="dark:text-gray-400">
									<slot class="leading-relaxed" />
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</main>
		<Footer />
	</body>
</html>
